body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: #22242a;
  &:hover {
    text-decoration: none;
  }
}

body {
  background-color: #f5f6fb;
  outline: none;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.pt-65 {
  padding-top: 65px;
}

.image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 24px;
}

.link {
  position: relative;
  margin-right: 25px;

  .notification {
    position: absolute;
    top: -6px;
    right: -16px;
    padding: 0 6px;
    border-radius: 50%;
    font-size: 12px;
    background-color: #e1e7ff;
  }

  &:hover {
    .icon,
    .notification {
      color: #657ef8;
    }
  }
}
.icon {
  font-size: 16px;
  color: #8592a3;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 15px;
  padding: 0 24px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.btn-default {
  color: #657ef9;
  background-color: #e1e7ff;
}

table.alignmiddle td {
  vertical-align: middle;
}

// ======================================  Header /Body =====================================================
.container {
  max-width: 1350px !important;
}

.font {
  font-weight: bold;
}

.header {
  background-color: #fff;
  padding: 0 20px;
  border: 1px solid #f1f4f9;
  .header-logo {
    display: flex;
    margin-right: 40px;
    cursor: pointer;
    img {
      height: 45px;
    }
    .title {
      margin-left: 10px;
      color: #657ef8;
      line-height: 45px;
      font-weight: bold;
    }
  }
}

.cart {
  position: relative;

  .notification {
    position: absolute;
    top: 3px;
    right: -5px;
    border-radius: 50%;
    font-size: 10px;
    padding: 0 5px;
    color: #fff;
    background-color: #999;
  }

  &:hover {
    i {
      color: #657ef8;
    }
    .notification {
      background-color: #e1e7ff;
      color: #657ef8;
    }
  }
}

.form-container {
  position: relative;
  border-radius: 16px;
  margin: 10px auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  min-height: 370px;
  .title-header {
    margin: 0;
    padding: 12px 0;
    border-bottom: 1px solid #f5f6fb;
    h4 {
      line-height: 24px;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .form-item {
    padding: 15px;
    border-bottom: 1px solid #f5f6fb;
  }

  .form-footer {
    text-align: center;
    padding: 15px;
    color: #999;
  }
}
.not-product-title {
  font-size: large;
  font-weight: bolder;
  font-style: italic;
  color: #999;
}

.container-products {
  padding: 15px 0;
}
.products {
  margin-bottom: 24px;
}

.card-product {
  padding: 8px;

  .card {
    position: relative;
    cursor: pointer;
    transition: all 300ms ease;

    .card-img {
      position: relative;
      height: 240px;
      object-fit: cover;
    }

    .card-body {
      padding: 15px;
      .card-detail {
        font-weight: 500;
        font-size: 14px;
        margin: 0 0 8px;
      }
      .card-price {
        margin: 0;
        font-weight: 700;
        font-size: 14px;
        color: #ee4d2d;
      }
    }

    .card-action {
      position: absolute;
      bottom: -50px;
      left: 0px;
      right: 0px;
      padding: 0 10px;
      opacity: 0;
      visibility: hidden;
      transition: all 300ms ease;

      .card-actions-inner {
        width: 100%;
        text-align: center;
        .btn-add-cart {
          height: 34px;
          line-height: 32px;
          border-radius: 5px;
          color: #657ef8;
        }
      }
    }

    &:hover {
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
      .card-body,
      .card-action {
        background: rgba(255, 255, 255, 0.85);
      }
      .card-body {
        transform: translateY(-45px);
      }
      .card-action {
        opacity: 1;
        bottom: 12px;
        visibility: visible;
        z-index: 1;
        .card-actions-inner {
          background-color: #e1e7ff;
          border-radius: 5px;
          &:hover {
            background-color: #657ef8;
            .btn-add-cart {
              color: #e1e7ff;
            }
          }
        }
      }
    }
  }
}

.footer-table {
  padding: 30px 0;
  width: 100%;
  text-align: center;
  h5 {
    color: rgba(0, 0, 0, 0.45);
    font-size: 16px;
    font-weight: 400;
  }
}
.img-form {
  position: absolute;
  bottom: 0;
  left: 12px;
  width: 120px;
}

.img-modal {
  width: 120px;
}

.ql-container {
  position: relative;

  .ql-input {
    border-radius: 8px;
    min-height: 60px;
    width: 100%;
    padding: 0 20px;
    border: 1px solid #eee;
    transition: 0.25s ease;

    &:focus {
      outline: none;
      border-color: #657ef9;
    }

    &:not(:placeholder-shown) + .ql-label,
    &:focus + .ql-label {
      top: 0;
      padding: 0 5px;
      display: inline-block;
      background-color: #fff;
      color: #657ef9;
    }
  }

  .ql-label {
    position: absolute;
    top: 50%;
    left: 21px;
    transform: translateY(-50%);
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.2s ease;
  }
}

.none-item {
  align-items: center;
  img {
    height: 150px;
    width: 150px;
    margin-bottom: 8px;
  }

  span {
    font-size: 14px;
    font-weight: 400;
  }
}

// ============================================== Footer ===========================================
.fui-footer-3 {
  padding: 40px 32px 20px;
  background-color: #fff;
  color: #22242a;
  .footer-category-wrap {
    display: flex;
    justify-content: space-between;
  }
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      height: 40px;
    }
  }
  .footer-desc {
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.6;
    padding-bottom: 24px;
    border-bottom: 1px solid #f1f5f9;
  }
  .copy-right {
    margin-top: 24px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
  }
  .social-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .social-link {
    transition: linear 0.25s;
    &:hover {
      opacity: 0.5;
    }
  }
  .footer-heading {
    margin-bottom: 14px;
    font-weight: 700;
  }
  .footer-category-item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer-link-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .footer-link {
    transition: linear 0.2s;
    &:hover {
      color: #657ef8;
    }
  }
  .footer-bottom {
    margin-top: 32px;
  }
  .footer-bottom-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer-bottom-link {
    font-size: 14px;
    transition: linear 0.2s;
    &:hover {
      color: #657ef8;
    }
  }
}
