// Tablet and Mobile
@media (max-width: 1023px) {
  .col-xs-none {
    display: none;
  }
  .col-xs-block {
    display: block;
  }
  .mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    .mobile-category__item {
      flex-shrink: 0;
      margin-right: 10px;
    }
    .mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
      background-color: #87afd8;
    }
    .mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
      background-color: #ffdee7;
    }
    .mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
      background-color: #88cf81;
    }
  }

  .mobile-category__link {
    --line-height: 24px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    width: 110px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
    border-radius: 4px;
  }

  .tablet-none {
    display: none;
  }
  .cart-tablet {
    display: block;
  }
}

@media (max-width: 600px) {
  .scrollme {
    overflow-x: auto;
  }

  .product-sale {
    flex-wrap: wrap;
    gap: 15px;
  }
}
