@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Sacramento&display=swap");

.input-quantity {
  display: flex;
  margin-right: 24px;
  border-radius: 45px;
  width: 110px;
  border: 1px solid #ebecf0;

  input[type="number"] {
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #202030;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button {
    color: #3264fe;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
  }

  #increment {
    padding: 5px 15px 5px 0;
    border-radius: 0 45px 45px 0;
  }
  #decrement {
    padding: 5px 0 5px 15px;
    border-radius: 45px 0 0 45px;
  }
}

.container-product {
  border-radius: 16px;
  margin: 15px auto;
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  .title-header {
    margin: 0;
    padding: 6px 16px;
    border-bottom: 1px solid #f5f6fb;
    h4 {
      line-height: 24px;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .product-detail {
    margin: 16px;

    .zoom {
      padding: 16px;
      position: relative;
      overflow: hidden;

      .product-img {
        width: 100%;
        max-height: 700px;
        object-fit: cover;
        border-radius: 8px;
      }

      #imgZoom {
        position: absolute;
        left: 0;
        top: 0;
        --zoom-x: 50%;
        --zoom-y: 50%;
        transform: scale(1.3);
        pointer-events: none;
        clip-path: circle(100px at var(--zoom-x) var(--zoom-y));
        opacity: 0;
        z-index: 1;
      }
    }

    .product-desc {
      padding: 16px 24px;
      .product-title {
        margin-bottom: 15px;
        h1 {
          font-size: 24px;
          margin: 20px 0 5px;
        }
      }

      .product-price {
        padding-bottom: 15px;
        border-bottom: 1px solid #ebecf0;
        .pro-price {
          font-size: 25px;
          font-weight: 600;
          color: red;
        }
      }

      .product-sale {
        padding: 15px;
        border-bottom: 1px solid #ebecf0;
        display: flex;
        align-items: center;

        .btn-cart {
          font-size: 16px;
          height: 35px;
          color: #fff;
          border: 1px solid #ff0000;
          background-color: red;
          &:hover {
            background-color: #fff;
            color: #ff0000;
          }
        }
      }

      .product-deliverly {
        padding: 15px;
        .infoList-deliverly {
          li {
            text-align: justify;
            padding-left: 45px;
            padding-top: 4px;
            position: relative;
            margin-bottom: 20px;

            .lazyload {
              position: absolute;
              left: 5px;
              top: 50%;
              transform: translateY(-50%);
              width: 30px;
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }
    .description {
      border-top: 1px solid #ebecf0;
      padding: 0 15px;

      h3 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 700;
        padding: 15px 0;
        cursor: pointer;
      }

      .detailsection-title {
        color: #369b68;
      }
      p {
        text-align: justify;
      }
    }
  }
}

//=====================Cart scsss=====================
.list-pageform-cart {
  .cart-row {
    width: 100%;
    display: inline-block;
    padding-right: 20px;

    .title-number-cart {
      background: #fafafa;
      padding: 10px 15px;
      font-weight: 400;
      font-size: 16px;
    }

    .table-cart {
      .media-line-item {
        padding: 10px 0px;
        border-bottom: 1px solid #f1f1f1;
        width: 100%;
        float: left;
        position: relative;

        .media-left {
          width: 90px;
          float: left;
          padding-right: 10px;

          .item-image {
            max-width: 100%;
            border-radius: 12px;
          }
        }

        .media-right {
          width: calc(100% - 90px);
          float: left;
          padding-left: 16px;

          .item-info {
            .item-title {
              font-size: 18px;
              padding-right: 40px;
            }
          }
          .item-price {
            padding: 5px 0;
            span {
              display: block;
              font-weight: 600;
              color: #000;
            }
          }
        }

        .item-total-price {
          width: 100%;
          float: left;
          font-weight: 700;
          font-size: 15px;
          margin: 5px 0;
          .price {
            .line-item-total {
              color: red;
              font-size: 16px;
              float: right;
            }
          }
          .remove {
            position: absolute;
            width: 40px;
            display: inline-block;
            text-align: center;
            right: 0;
            top: 15px;

            &:hover {
              .btn {
                background-color: red;
                color: #ebecf0;
              }
            }
          }
        }
      }
    }
  }
}

.order-summary-block {
  border: 1px solid #dfe0e1;
  padding: 15px;
  margin-bottom: 15px;

  .summary-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .summary-total {
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    border-top: 1px dotted #dfe0e1;
    border-bottom: 1px dotted #dfe0e1;
    margin-bottom: 10px;

    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;

      span {
        font-weight: bold;
        float: right;
        color: red;
        font-size: 24px;
      }
    }
  }

  .summary-action {
    padding-top: 5px;
    text-align: center;

    .txt-danger {
      margin-top: 8px;
      display: block;
      color: red;
    }

    p {
      position: relative;
      font-size: 14px;
      margin-bottom: 4px;
      padding-left: 15px;
      font-weight: 400;
      text-align: left;
      margin: 0 0 10px;

      &::before {
        content: "";
        width: 4px;
        height: 4px;
        background: #999999;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 8px;
        border-radius: 50%;
      }
    }

    .checkout-btn {
      display: block;
      background: red;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 5px;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      border-radius: 0;
      margin-top: 12px;
    }

    .disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.note-none {
  padding: 25px 0;

  .img-note {
    width: 150px;
  }
  .note {
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
  }
}
//================Toast ==================
#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 99999;

  .toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 5px;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    animation: fadeIn ease 0.6s, hideIn linear 1s 3s forwards;

    .toast__body {
      flex: 1;
      margin-left: 10px;
    }

    .toast__close {
      padding: 0 16px;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
      opacity: 1;
      outline: none;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes hideIn {
    to {
      opacity: 0;
    }
  }
}

//================Cart header preview ===========================
.cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &:hover .header__cart-list {
    display: block;
  }

  .header__cart-list {
    position: absolute;
    top: calc(100% + 2px);
    right: -3.5px;
    background-color: #fff;
    width: 280px;
    border-radius: 6px;
    padding: 18px 0;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.3s;
    cursor: default;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      right: 10px;
      top: -25px;
      border-width: 16px 20px;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
      cursor: pointer;
    }

    // ==== No item
    .header__cart-no-cart-img,
    .header__cart-list-no-cart-msg {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .header__cart-no-cart-img {
      padding-top: 20px;
      width: 54%;
    }
    .header__cart-list-no-cart-msg {
      text-align: center;
      color: rgba(0, 0, 0, 0.45);
      line-height: 16px;
      font-size: 14px;
    }

    //======= Items cart
    .header__cart-heading {
      text-align: left;
      margin: 8px 0 8px 12px;
      font-size: 14px;
      color: #999;
      font-weight: 400;
    }
    .header__cart-list-item {
      padding-left: 0;
      list-style: none;
      max-height: 30vh;
      overflow-y: auto;

      .header__cart-item {
        display: flex;
        align-items: center;

        &:hover {
          background-color: #f8f8f8;
        }
        .header-cart-item-img {
          width: 42px;
          height: 42px;
          margin: 12px;

          img {
            width: 100%;
            border: 1px solid #e8e8e8;
            object-fit: cover;
          }
        }
        .header__cart-item-info {
          width: 100%;
          margin-right: 12px;

          .header__cart-item-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;

            .header__cart-item-name {
              font-size: 12px;
              overflow: hidden;
              font-weight: 700;
              color: #000;
              margin: 0;
              flex: 1;
              padding-right: 16px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-box-clamp: 2;
              text-align: left;
            }
            .header__cart-item-price {
              font-size: 12px;
              font-weight: 700;
              color: red;
            }
            .header__cart-item-multiply {
              font-size: 8px;
              margin: 0 4px;
              color: #757575;
            }
            .header__cart-item-qnt {
              color: #757575;
              font-size: 10px;
            }
          }
          .header__cart-item-body {
            display: flex;
            justify-content: space-between;

            .header__cart-item-description {
              color: #757575;
              font-size: 12px;
              font-weight: 300;
            }
            .header__cart-item-remove {
              font-size: 13px;
              &:hover {
                color: red;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .header__cart-view-cart {
      color: #fff;
      background-color: #ff0000;
      float: right;
      margin: 12px 12px 12px 0;
      &:hover {
        color: #ff0000;
        background-color: #fff;
        border: 1px solid #ff0000;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//===========================Upload input custom ==========================

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  list-style-type: none;
}

/* ====================== Img Upload Box ====================== */
.fui-upload-img-list {
  .image-wrap {
    display: flex;
    align-items: center;
  }
  .image-item {
    width: 100px;
    margin-right: 20px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    &.upload-box {
      border: 1px dashed #cfcfcf;
      cursor: pointer;
      &.isDragover,
      &:hover {
        border-color: #307dca;
      }
      label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 6px;
        background-color: #f8f8f8;
      }
      h3 {
        font-size: 14px;
        color: #999;
      }
    }
  }
}
/* ====================== End Img Upload Box ====================== */

/* ====================== Resize Img ====================== */
.wrapImgResize {
  overflow: hidden;
  position: relative;
  display: block;

  i {
    color: #999;
  }

  &.imgSquare {
    padding-top: 100%;
  }
}

//======================================== Custom pagination =====================
.customize-pagination {
  text-align: center;

  li {
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 /10%);

    a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      line-height: 22px;

      &:hover {
        color: #fff;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .previous-page,
  .next-page {
    background: #657ef8;
    width: 80px;
    border-radius: 45px;
    transition: 0.3s ease;

    span {
      font-size: 18px;
    }
  }

  .previous-page:hover {
    transform: translateX(-5px);
  }
  .next-page:hover {
    transform: translateX(5px);
  }

  .page-link {
    background-color: transparent;
    border: none;
  }
  .current-page {
    background-color: #ccc;
    width: 40px;
    border-radius: 50%;
  }

  .actived {
    background-color: #657ef8;
  }

  .disable {
    background-color: #ccc;
  }
}

// ====================================== About us ==========================================
.fui-testimonial-1 {
  margin-top: 30px;
  padding-top: 33px;
  position: relative;
  isolation: isolate;
  .testimonialWrap {
    margin-top: 30px;
    padding-block: 38px;
    position: relative;
  }
  .testimonialBodyList {
    position: relative;
    width: 100%;
    margin-bottom: 200px;
    height: 200px;
    margin-top: -100px;
  }
  .testimonialBodyItem {
    opacity: 0;
    transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 520px;
    height: 100%;
    transform: translateX(-50%) translateY(100%) rotateX(-70deg);
    &.active {
      transform: translateX(-50%) translateY(0%) rotateX(0deg);
      opacity: 1;
    }
  }
  .testimonialRate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 46px;
    font-size: 20px;
    font-weight: 500;
  }
  .testimonialRateIconList {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .testimonialContent {
    font-weight: 500;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  .testimonialBodyPersonal {
    margin-top: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  .testimonialBodyPersonalImg {
    width: 54px;
    height: 54px;
    border-radius: 100rem;
    border: 2px solid #1dc071;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100rem;
    }
  }
  .testimonialBodyPersonalName {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .testimoniaPersonalItem {
    border-radius: 100rem;
    position: absolute;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    transition: linear 0.25s;
    animation: floating linear infinite 0.25s;
    &.active {
      .testimoniaPersonalImage {
        border-color: #1dc071;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100rem;
    }
    &:nth-child(1) {
      width: 74.29px;
      height: 74.29px;
      left: 128px;
      top: 62px;
      animation-duration: 10s;
      transition-delay: 0.6s;
    }
    &:nth-child(2) {
      width: 113.75px;
      height: 113.75px;
      left: 270px;
      top: -39px;
      animation-duration: 12s;
      transition-delay: 0s;
    }
    &:nth-child(3) {
      width: 98.66px;
      height: 98.66px;
      left: 150px;
      top: 190px;
      animation-duration: 11s;
      transition-delay: 0.6s;
    }
    &:nth-child(4) {
      width: 94.4px;
      height: 94.4px;
      left: 315px;
      top: 135px;
      animation-duration: 6s;
      transition-delay: 0.2s;
    }
    &:nth-child(5) {
      width: 120.03px;
      height: 120.03px;
      right: 333px;
      top: -35px;
      animation-duration: 7s;
      transition-delay: 0.7s;
    }
    &:nth-child(6) {
      width: 99.62px;
      height: 99.62px;
      right: 150px;
      top: -70px;
      animation-duration: 5s;
      transition-delay: 0.1s;
    }
    &:nth-child(7) {
      width: 104.11px;
      height: 104.11px;
      right: 266px;
      top: 175px;
      animation-duration: 5s;
      transition-delay: 0.7s;
    }
    &:nth-child(8) {
      width: 78.39px;
      height: 78.39px;
      right: 91px;
      top: 100px;
      animation-duration: 8s;
      transition-delay: 0.4s;
    }
  }

  .testimoniaPersonalImage {
    width: 100%;
    height: 100%;
    border-radius: 100rem;
    border: 4px solid white;
    transition: linear 0.3s;
    &:hover {
      border-color: #1dc071;
    }
  }

  //PC Low, Ipad Pro
  @media (min-width: 1024px) and (max-width: 1239px) {
    .testimoniaPersonalItem {
      &:nth-child(1) {
        left: 20px;
        width: 68px;
        height: 68px;
      }
      &:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 105px;
      }
      &:nth-child(3) {
        width: 85px;
        height: 85px;
        left: 55px;
        top: 190px;
      }
      &:nth-child(4) {
        width: 85px;
        height: 85px;
        left: 135px;
        top: 99px;
      }
      &:nth-child(5) {
        right: 20px;
        width: 68px;
        height: 68px;
        top: 39px;
      }
      &:nth-child(6) {
        width: 90px;
        height: 90px;
        right: 105px;
      }
      &:nth-child(7) {
        width: 85px;
        height: 85px;
        right: 55px;
        top: 190px;
      }
      &:nth-child(8) {
        width: 85px;
        height: 85px;
        right: 135px;
        top: 99px;
      }
    }
  }

  //PC Low, Ipad Pro
  @media (min-width: 1024px) and (max-width: 1239px) {
    .logoParalax {
      display: none;
    }
  }

  // Mobile & Tablet
  @media only screen and (max-width: 1023px) {
    padding-top: 30px;
    margin-top: 60px;
    .testimonialBodyList {
      height: 100px;
      margin-top: -75px;
      margin-bottom: 275px;
    }
    .testimoniaPersonalList {
      display: none;
    }
    .testimonialBodyItem {
      width: 100%;
      padding-inline: 20px;
    }
    .logoParalax {
      display: none;
    }
  }

  // Mobie
  @media only screen and (max-width: 739px) {
    .testimonialBodyPersonal {
      margin-top: 30px;
    }
    .testimonialRate {
      margin-bottom: 30px;
    }
    .testimonialBodyList {
      margin-bottom: 235px;
    }
    .testimonialContent {
      font-size: 14px;
    }
    .testimonialWrap {
      padding-bottom: 0;
    }
  }
}

@keyframes floating {
  0% {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

//======================================= Contact us ========================================
@property --rotate {
  initial-value: 0deg;
  inherits: false;
  syntax: "<angle>";
}

.contact-card {
  position: relative;
  background: #2a2f42;
  width: 300px;
  height: 450px;
  border-radius: 5px;
  margin: 25px 30px;

  &::before,
  &::after {
    position: absolute;
    width: 104%;
    height: 102%;
    content: "";
    background-image: linear-gradient(var(--rotate), #9a3bba, #fe4e56);
    border-radius: 6px;
    z-index: -1;
    left: -2%;
    top: -1%;
    opacity: 0;
  }

  &::after {
    filter: blur(40px);
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
    animation: spin 1.5s linear infinite;
  }

  img:nth-child(1) {
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    object-fit: cover;
    border-radius: 6px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  &:hover img:nth-child(1) {
    opacity: 0;
  }

  img:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  &:hover img:nth-child(2) {
    opacity: 1;
  }

  .contact-content {
    position: absolute;
    top: 80%;
    left: 2px;
    color: #fff;
    font-size: 20px;
    rotate: -10deg;
    text-shadow: 0 0 10px #fe4e56;
    transition: 0.5s;
    font-family: "Sacramento", cursive;
  }

  &:hover .contact-content {
    color: #fbff22;
    text-shadow: #9a3bba;
  }

  &:hover {
    background-color: transparent;
  }
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.wrapper-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 20px 15px 20px 0;

  .topline {
    display: block;
    position: relative;
    z-index: 5;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;

    &::after {
      position: absolute;
      content: "";
      height: 4px;
      width: 45px;
      bottom: 10px;
      background-color: #657ef8;
    }
  }

  h1 {
    display: block;
    font-size: 45px;
    font-weight: 900;
    color: #3d535f;
    position: relative;
    z-index: 5;
  }

  .multiText {
    position: relative;
    z-index: 5;
    color: #657ef8;
    text-transform: capitalize;
  }

  p {
    display: block;
    width: 90%;
    font-size: 16px;
    color: #3d535f;
    position: relative;
    z-index: 5;
  }

  .buttons {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 5;

    .btn-contact {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
      text-transform: capitalize;
      letter-spacing: 2px;

      &:hover {
        background-color: #657ef8;
        color: #e1e7ff;
      }
    }
  }

  &::before {
    position: absolute;
    content: "";
    height: 100px;
    width: 100px;
    border-radius: 50%;
    right: 5%;
    top: 0%;
    background-image: linear-gradient(var(--rotate), #e1e7ff, #9a3bba);
    animation: object1 5s linear infinite;
  }

  &::after {
    position: absolute;
    content: "";
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: 10%;
    bottom: 12%;
    background-image: linear-gradient(var(--rotate), #657ef8, #e1e7ff);
    animation: object2 5s linear infinite;
  }
}

@keyframes object1 {
  50% {
    right: 7%;
    top: 10%;
  }
  75% {
    right: 15%;
    top: 7%;
  }
}

@keyframes object2 {
  50% {
    left: 5%;
    bottom: 0%;
  }
  75% {
    left: 0%;
    bottom: 20%;
  }
}
