body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: #22242a;
  &:hover {
    text-decoration: none;
  }
}

body {
  background-color: #f5f6fb;
  outline: none;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 15px;
  padding: 0 24px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.btn-default {
  color: #657ef9;
  background-color: #e1e7ff;
}

//Header
.container {
  max-width: 1300px !important;
}

.font {
  font-weight: bold;
}

.header {
  background-color: #fff;
  padding: 0 20px;
  border: 1px solid #f1f4f9;
  .header-logo {
    display: flex;
    margin-right: 40px;
    cursor: pointer;
    img {
      height: 45px;
    }
    .title {
      margin-left: 10px;
      color: #657ef8;
      line-height: 45px;
      font-weight: bold;
    }
  }
}

// Content
.full-content {
  height: 100vh;
}

.form-container {
  position: relative;
  border-radius: 16px;
  margin: 10px auto;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  min-height: 370px;
  .title-header {
    margin: 0;
    padding: 12px 0;
    border-bottom: 1px solid #f5f6fb;
    h4 {
      line-height: 24px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
.footer-table {
  padding: 30px 0;
  width: 100%;
  text-align: center;
  h5 {
    color: rgba(0, 0, 0, 0.45);
    font-size: 16px;
    font-weight: 400;
  }
}
.img-form {
  position: absolute;
  bottom: 0;
  left: 12px;
  width: 120px;
}

.img-modal {
  width: 120px;
}

.ql-container {
  position: relative;

  .ql-input {
    border-radius: 8px;
    min-height: 60px;
    width: 100%;
    padding: 0 20px;
    border: 1px solid #eee;
    transition: 0.25s ease;

    &:focus {
      outline: none;
      border-color: #657ef9;
    }

    &:not(:placeholder-shown) + .ql-label,
    &:focus + .ql-label {
      top: 0;
      padding: 0 5px;
      display: inline-block;
      background-color: #fff;
      color: #657ef9;
    }
  }

  .ql-label {
    position: absolute;
    top: 50%;
    left: 21px;
    transform: translateY(-50%);
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.2s ease;
  }
}

.none-item {
  align-items: center;
  img {
    height: 150px;
    width: 150px;
    margin-bottom: 8px;
  }

  span {
    font-size: 14px;
    font-weight: 400;
  }
}

//Footer
.fui-footer-3 {
  padding: 40px 32px 20px;
  background-color: #fff;
  color: #22242a;
  .footer-category-wrap {
    display: flex;
    justify-content: space-between;
  }
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      height: 40px;
    }
  }
  .footer-desc {
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.6;
    padding-bottom: 24px;
    border-bottom: 1px solid #f1f5f9;
  }
  .copy-right {
    margin-top: 24px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
  }
  .social-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .social-link {
    transition: linear 0.25s;
    &:hover {
      opacity: 0.5;
    }
  }
  .footer-heading {
    margin-bottom: 14px;
    font-weight: 700;
  }
  .footer-category-item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer-link-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .footer-link {
    transition: linear 0.2s;
    &:hover {
      color: #657ef8;
    }
  }
  .footer-bottom {
    margin-top: 32px;
  }
  .footer-bottom-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer-bottom-link {
    font-size: 14px;
    transition: linear 0.2s;
    &:hover {
      color: #657ef8;
    }
  }
}
