<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Icon Page-->
    <link rel="icon"
        href="https://img-os-static.hoyolab.com/communityWeb/upload/df2ada7f9c397a021bdfc15cff42e7a9.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Datatables.net-->
    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.4/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <title>HoYoFIG</title>
</head>

<body>
    <div id="toast">
        <%- messages('messages', locals) %>
            <% if (errors) { %>
                <% errors.forEach(function(error) { %>
                    <div class="toast alert alert-danger fade show">
                        <div class="toast__body">
                            <%= error.msg %>
                        </div>
                        <button type="button" class="toast__close close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <% }); %>
                        <% } %>
    </div>

    <!-- <div id="toast">
                            <div class="toast toast__success">
                                <div class="toast__icon">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                                Viết nhanh là .tên trong thể div nếu clas
                                <div class="toast__body">
                                    <h3 class="toast__title">Success</h3>
                                    <p class="toast__msg">Chỉ cần mày đúng mọi thứ tau lo</p>
                                </div>
                                <div class="toast__close">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div> -->