<%- include('layout/header.ejs'); -%>
    <div class="fui-testimonial-1">
        <div class="testimonialWrap">
            <ul class="testimonialBodyList">
                <li class="testimonialBodyItem active" data-tab="0">
                    <div class="testimonialRate"><span>3.0</span>
                        <div class="testimonialRateIconList">
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.7327 17.5574L11.5 17.4351L11.2673 17.5574L5.11064 20.7942L6.28647 13.9386L6.3309 13.6795L6.14267 13.4961L1.1618 8.64092L8.04519 7.6407L8.30532 7.6029L8.42166 7.36718L11.5 1.12978L14.5783 7.36718L14.6947 7.6029L14.9548 7.6407L21.8382 8.64092L16.8573 13.4961L16.6691 13.6795L16.7135 13.9386L17.8894 20.7942L11.7327 17.5574Z"
                                    stroke="#1E1B16"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.7327 17.5574L11.5 17.4351L11.2673 17.5574L5.11064 20.7942L6.28647 13.9386L6.3309 13.6795L6.14267 13.4961L1.1618 8.64092L8.04519 7.6407L8.30532 7.6029L8.42166 7.36718L11.5 1.12978L14.5783 7.36718L14.6947 7.6029L14.9548 7.6407L21.8382 8.64092L16.8573 13.4961L16.6691 13.6795L16.7135 13.9386L17.8894 20.7942L11.7327 17.5574Z"
                                    stroke="#1E1B16"></path>
                            </svg>
                            <!-- end icon-->
                        </div>
                    </div>
                    <p class="testimonialContent">
                        In Tears of Themis, miHoYo's detective adventure of love and wits, you are a new attorney at law
                        on a journey to solve unusual cases together with your destined lover. As a great conspiracy
                        begins to unfold, the line between good and evil blurs. Which way will your scales of justice
                        tip?!
                    </p>
                    <div class="testimonialBodyPersonal">
                        <div class="testimonialBodyPersonalImg"><img
                                src="https://webstatic.mihoyo.com/upload/op-public/2021/10/11/478804a31957cde8b8cd05804884890f_4561570032828489106.png"
                                alt="Tea Of Themis" /></div>
                        <h4 class="testimonialBodyPersonalName">Tea Of Themis</h4>
                    </div>
                </li>
                <li class="testimonialBodyItem" data-tab="1">
                    <div class="testimonialRate"><span>4.0</span>
                        <div class="testimonialRateIconList">
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.7327 17.5574L11.5 17.4351L11.2673 17.5574L5.11064 20.7942L6.28647 13.9386L6.3309 13.6795L6.14267 13.4961L1.1618 8.64092L8.04519 7.6407L8.30532 7.6029L8.42166 7.36718L11.5 1.12978L14.5783 7.36718L14.6947 7.6029L14.9548 7.6407L21.8382 8.64092L16.8573 13.4961L16.6691 13.6795L16.7135 13.9386L17.8894 20.7942L11.7327 17.5574Z"
                                    stroke="#1E1B16"></path>
                            </svg>
                            <!-- end icon-->
                        </div>
                    </div>
                    <p class="testimonialContent">
                        A simple, pick-up-and-play arcade action game. Players can collect equipment from stages. For
                        dealing with different situations, players need to create useful builds.
                    </p>
                    <div class="testimonialBodyPersonal">
                        <div class="testimonialBodyPersonalImg"><img
                                src="https://webstatic.mihoyo.com/upload/op-public/2021/10/11/320a35c423a3d8ca043d7ee14a8c7925_8463350364547004.png"
                                alt="Houkai Gakuen 2" /></div>
                        <h4 class="testimonialBodyPersonalName">Houkai Gakuen 2</h4>
                    </div>
                </li>
                <li class="testimonialBodyItem" data-tab="2">
                    <div class="testimonialRate"><span>4.0</span>
                        <div class="testimonialRateIconList">
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.7327 17.5574L11.5 17.4351L11.2673 17.5574L5.11064 20.7942L6.28647 13.9386L6.3309 13.6795L6.14267 13.4961L1.1618 8.64092L8.04519 7.6407L8.30532 7.6029L8.42166 7.36718L11.5 1.12978L14.5783 7.36718L14.6947 7.6029L14.9548 7.6407L21.8382 8.64092L16.8573 13.4961L16.6691 13.6795L16.7135 13.9386L17.8894 20.7942L11.7327 17.5574Z"
                                    stroke="#1E1B16"></path>
                            </svg>
                            <!-- end icon-->
                        </div>
                    </div>
                    <p class="testimonialContent">
                        HD cel-shaded graphics, infinite combo, ultra-tight controls... Experience next-gen real-time
                        action! Epic storyline spanning works, immersive stage dialogues, celebrated VA lineup... In
                        this Honkai-corrupted world, the Valkyries, brave girls with Honkai resistance, have been
                        fighting for all that is beautiful in the world.
                    </p>
                    <div class="testimonialBodyPersonal">
                        <div class="testimonialBodyPersonalImg"><img
                                src="https://webstatic.mihoyo.com/upload/op-public/2021/10/11/bcfac93531d35c27fd2c44fbc83cfd68_2546351942566697749.png"
                                alt="Honkai Impact 3rd" /></div>
                        <h4 class="testimonialBodyPersonalName">Honkai Impact 3rd</h4>
                    </div>
                </li>
                <li class="testimonialBodyItem" data-tab="3">
                    <div class="testimonialRate"><span>5.0</span>
                        <div class="testimonialRateIconList">
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                        </div>
                    </div>
                    <p class="testimonialContent">
                        An open-world action game proudly presented by miHoYo. In the world of Teyvat, where all kinds
                        of elemental powers constantly surge, epic adventures await, fearless travelers!
                    </p>
                    <div class="testimonialBodyPersonal">
                        <div class="testimonialBodyPersonalImg"><img
                                src="https://webstatic.mihoyo.com/upload/op-public/2021/10/09/def1f2abcfc2af0bbe2e5900a60a5ee1_178756228418778568.png"
                                alt="Genshin Impact" /></div>
                        <h4 class="testimonialBodyPersonalName">Genshin Impact</h4>
                    </div>
                </li>
                <li class="testimonialBodyItem" data-tab="4">
                    <div class="testimonialRate"><span>5.0</span>
                        <div class="testimonialRateIconList">
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                        </div>
                    </div>
                    <p class="testimonialContent">
                        A brand-new strategy game from miHoYo that adventures through the Galaxy. You will explore new
                        civilizations, encounter new friends.
                    </p>
                    <div class="testimonialBodyPersonal">
                        <div class="testimonialBodyPersonalImg"><img
                                src="https://webstatic.mihoyo.com/upload/op-public/2021/10/09/870472d6104dbbe7ea18b27c13763ccb_3190195711986871508.png"
                                alt="Honkai: Star Rail" /></div>
                        <h4 class="testimonialBodyPersonalName">Honkai: Star Rail</h4>
                    </div>
                </li>
                <li class="testimonialBodyItem" data-tab="5">
                    <div class="testimonialRate"><span>3.0</span>
                        <div class="testimonialRateIconList">
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.7327 17.5574L11.5 17.4351L11.2673 17.5574L5.11064 20.7942L6.28647 13.9386L6.3309 13.6795L6.14267 13.4961L1.1618 8.64092L8.04519 7.6407L8.30532 7.6029L8.42166 7.36718L11.5 1.12978L14.5783 7.36718L14.6947 7.6029L14.9548 7.6407L21.8382 8.64092L16.8573 13.4961L16.6691 13.6795L16.7135 13.9386L17.8894 20.7942L11.7327 17.5574Z"
                                    stroke="#1E1B16"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.7327 17.5574L11.5 17.4351L11.2673 17.5574L5.11064 20.7942L6.28647 13.9386L6.3309 13.6795L6.14267 13.4961L1.1618 8.64092L8.04519 7.6407L8.30532 7.6029L8.42166 7.36718L11.5 1.12978L14.5783 7.36718L14.6947 7.6029L14.9548 7.6407L21.8382 8.64092L16.8573 13.4961L16.6691 13.6795L16.7135 13.9386L17.8894 20.7942L11.7327 17.5574Z"
                                    stroke="#1E1B16"></path>
                            </svg>
                            <!-- end icon-->
                        </div>
                    </div>
                    <p class="testimonialContent">
                        An original IP action game proudly presented by miHoYo.
                        Welcome to New Eridu — Where Humanity Rises Anew!
                    </p>
                    <div class="testimonialBodyPersonal">
                        <div class="testimonialBodyPersonalImg"><img
                                src="https://webstatic.mihoyo.com/upload/op-public/2022/07/12/3896559583929f643fbe39ec1d6ca1c9_5788444135694206615.png"
                                alt="Zenless Zone Zero" /></div>
                        <h4 class="testimonialBodyPersonalName">Zenless Zone Zero</h4>
                    </div>
                </li>
                <li class="testimonialBodyItem" data-tab="6">
                    <div class="testimonialRate"><span>5.0</span>
                        <div class="testimonialRateIconList">
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                        </div>
                    </div>
                    <p class="testimonialContent">
                        A community by miHoYo where you can get the latest game news, participate in exciting events,
                        share your creativeness and in-game moments with other like-minded friends, and discover amazing
                        content by talented creators!
                    </p>
                    <div class="testimonialBodyPersonal">
                        <div class="testimonialBodyPersonalImg"><img
                                src="https://webstatic.mihoyo.com/upload/op-public/2021/10/20/57d43a8fdcb9c9b5325b6dbb9f0a4260_3565044803041962899.png"
                                alt="HoYoLAB" /></div>
                        <h4 class="testimonialBodyPersonalName">HoYoLAB</h4>
                    </div>
                </li>
                <li class="testimonialBodyItem" data-tab="7">
                    <div class="testimonialRate"><span>5.0</span>
                        <div class="testimonialRateIconList">
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                            <!-- icon-->
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.5 18L4.44658 21.7082L5.79366 13.8541L0.0873218 8.2918L7.97329 7.1459L11.5 0L15.0267 7.1459L22.9127 8.2918L17.2063 13.8541L18.5534 21.7082L11.5 18Z"
                                    fill="#EAC248"></path>
                            </svg>
                            <!-- end icon-->
                        </div>
                    </div>
                    <p class="testimonialContent">
                        An immersive live wallpaper app with the adorable virtual character, Lumi. Stay up-to-date with
                        all of Lumi's latest content, experience immersive live wallpapers, and take Lumi together on
                        your device wherever life's adventures may lead!
                    </p>
                    <div class="testimonialBodyPersonal">
                        <div class="testimonialBodyPersonalImg"><img
                                src="https://webstatic.mihoyo.com/upload/op-public/2021/10/09/7bca19669fd95c1a961a26dc009c342e_462880458229488116.png"
                                alt="N0va Desktop" /></div>
                        <h4 class="testimonialBodyPersonalName">N0va Desktop</h4>
                    </div>
                </li>
            </ul>
            <ul class="testimoniaPersonalList">
                <li class="testimoniaPersonalItem active" data-tab="0">
                    <div class="testimoniaPersonalImage"><img
                            src="https://webstatic.mihoyo.com/upload/op-public/2021/10/11/478804a31957cde8b8cd05804884890f_4561570032828489106.png"
                            alt="Tea Of Themis" /></div>
                </li>
                <li class="testimoniaPersonalItem" data-tab="1">
                    <div class="testimoniaPersonalImage"><img
                            src="https://webstatic.mihoyo.com/upload/op-public/2021/10/11/320a35c423a3d8ca043d7ee14a8c7925_8463350364547004.png"
                            alt="Houkai gakuen 2" /></div>
                </li>
                <li class="testimoniaPersonalItem" data-tab="2">
                    <div class="testimoniaPersonalImage"><img
                            src="https://webstatic.mihoyo.com/upload/op-public/2021/10/11/bcfac93531d35c27fd2c44fbc83cfd68_2546351942566697749.png"
                            alt="Honkai Impact 3rd" /></div>
                </li>
                <li class="testimoniaPersonalItem" data-tab="3">
                    <div class="testimoniaPersonalImage"><img
                            src="https://webstatic.mihoyo.com/upload/op-public/2021/10/09/def1f2abcfc2af0bbe2e5900a60a5ee1_178756228418778568.png"
                            alt="Genshin Impact" /></div>
                </li>
                <li class="testimoniaPersonalItem" data-tab="4">
                    <div class="testimoniaPersonalImage"><img
                            src="https://webstatic.mihoyo.com/upload/op-public/2021/10/09/870472d6104dbbe7ea18b27c13763ccb_3190195711986871508.png"
                            alt="Honkai: Star Rail" /></div>
                </li>
                <li class="testimoniaPersonalItem" data-tab="5">
                    <div class="testimoniaPersonalImage"><img
                            src="https://webstatic.mihoyo.com/upload/op-public/2022/07/12/3896559583929f643fbe39ec1d6ca1c9_5788444135694206615.png"
                            alt="Zenless Zone Zero" /></div>
                </li>
                <li class="testimoniaPersonalItem" data-tab="6">
                    <div class="testimoniaPersonalImage"><img
                            src="https://webstatic.mihoyo.com/upload/op-public/2021/10/20/57d43a8fdcb9c9b5325b6dbb9f0a4260_3565044803041962899.png"
                            alt="HoYoLAB" /></div>
                </li>
                <li class="testimoniaPersonalItem" data-tab="7">
                    <div class="testimoniaPersonalImage"><img
                            src="https://webstatic.mihoyo.com/upload/op-public/2021/10/09/7bca19669fd95c1a961a26dc009c342e_462880458229488116.png"
                            alt="N0va Desktop" /></div>
                </li>
            </ul>
        </div>
    </div>
    <script src="/js/aboutUs.js"></script>
    <%- include('layout/footer'); -%>