<%- include('layout/header.ejs'); -%>
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="contact-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000"
                    data-aos-easing="ease-in-out">
                    <img src="https://cdn.donmai.us/original/d4/b5/d4b545bb8a97785acefb9bb74b09300f.jpg" alt="" />
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e7df560a-6370-4c90-bf45-730a73491bbb/dfvk3e4-e0fa5d84-8481-417c-b7a6-14fc8aa9e9eb.png/v1/fill/w_663,h_1206/kafka_render__honkai__star_rail__by_criticalgalaxy_dfvk3e4-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjAwMCIsInBhdGgiOiJcL2ZcL2U3ZGY1NjBhLTYzNzAtNGM5MC1iZjQ1LTczMGE3MzQ5MWJiYlwvZGZ2azNlNC1lMGZhNWQ4NC04NDgxLTQxN2MtYjdhNi0xNGZjOGFhOWU5ZWIucG5nIiwid2lkdGgiOiI8PTExMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.TwXAF-nOJSiTurOIyNJ-y2-ZTi4gTpfv6rDNjQt362Q"
                        alt="" />
                    <div class="contact-content">
                        <div class="card-name">Kafka</div>
                        <div class="card-voice">Voice JS: Sa Moon-young</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000"
                data-aos-easing="ease-in-out">
                <div class="wrapper-content">
                    <span class="topline">Hello</span>
                    <h1>I'm <span class="multiText">Coder</span></h1>
                    <p>
                        HoYoFIG is a project to build a website for buying and selling model
                        products based on the HoYover brand. We sincerely thank the entire
                        <strong>HueCIT</strong> company team and the teachers for their
                        dedicated guidance and support.
                    </p>
                    <div class="buttons">
                        <button class="btn btn-default btn-contact">Download CV</button>
                        <button class="btn btn-default btn-contact">Hire me!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 mb-5" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000"
            data-aos-easing="ease-in-out">
            <div class="title-about">About Me.</div>
            <div class="container-about">
                <div id="slide">
                    <div class="item" style="
            background-image: url(https://64.media.tumblr.com/69ff6151b7aa3a1a03c1773f0f5be79e/8cebe90d1fbe22a9-f4/s1280x1920/edc16e5cefabd4858ca34a1656eaf30707adca5f.png);
          ">
                        <div class="content" style="--bgc:#e1cc7a;">
                            <div class="name">UI/UX designer</div>
                            <div class="desc">
                                "UI designers create the visual elements that users interact with, while UX designers
                                focus on the overall experience of using a product."
                            </div>
                            <button class="btn btn-default">See more</button>
                        </div>
                    </div>
                    <div class="item" style="
            background-image: url(https://64.media.tumblr.com/bccc28b00f92d519427b1ded7fc0b301/69a0c16947e68f95-cb/s1280x1920/78ef192cd98f3546569530120cb8e137a11e7679.png);
          ">
                        <div class="content" style="--bgc:#d6a512;">
                            <div class="name">Web designer</div>
                            <div class="desc">
                                "I am a web designer with a passion for creating beautiful and functional websites. I
                                always looking for new ways to improve the user experience."
                            </div>
                            <button class="btn btn-default">See more</button>
                        </div>
                    </div>
                    <div class="item" style="
            background-image: url(https://64.media.tumblr.com/07d612dfc2cd3b0e9199dd7ee27c6eaf/146ae41b7581530f-4b/s1280x1920/ebd2cff083998c5d8e646a60bc9bf8cdb58136e3.png);
          ">
                        <div class="content" style="--bgc:#f3866b;">
                            <div class="name">Font-end</div>
                            <div class="desc">
                                "I am a frontend developer who is passionate about creating user-friendly and engaging
                                experiences."
                            </div>
                            <button class="btn btn-default">See more</button>
                        </div>
                    </div>
                    <div class="item" style="
            background-image: url(https://64.media.tumblr.com/f9b444b97735331707765249ae1fedfe/c1226d52fb9274e0-72/s1280x1920/95c1a4d9e16a5ccdfe71a15cea1a51916ea9c9bd.png);
          ">
                        <div class="content" style="--bgc:#e7b76e;">
                            <div class="name">Back-end</div>
                            <div class="desc">
                                "I am a backend developer who is passionate about building scalable and reliable
                                systems."
                            </div>
                            <button class="btn btn-default">See more</button>
                        </div>
                    </div>
                    <div class="item" style="
            background-image: url(https://64.media.tumblr.com/d87f14cc136d13ed4b8dc5e0a8600330/4348d835c042bab5-00/s1280x1920/102f12d517c7424b653af7b27c50e055dd964254.png);
          ">
                        <div class="content" style="--bgc:#a16be7;">
                            <div class="name">Analytics</div>
                            <div class="desc">
                                "I am an analytics professional who is passionate about using data to solve problems and
                                make informed decisions."
                            </div>
                            <button class="btn btn-default">See more</button>
                        </div>
                    </div>
                    <div class="item" style="
                        background-image: url(bg/bg1.webp);
                    ">
                        <div class="content" style="--bgc:#a3d4f7;">
                            <div class="name">Mobile developer</div>
                            <div class="desc">
                                "I am a mobile developer who is passionate about creating apps that are both useful and
                                enjoyable."
                            </div>
                            <button class="btn btn-default">See more</button>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
                    <button id="next"><i class="fa-solid fa-angle-right"></i></button>
                </div>
            </div>
        </div>

        <div class="mt-5 mb-5" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000"
            data-aos-easing="ease-in-out">
            <div class="title-contact mb-5">Contact me.</div>
            <div class="row container-contact">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="drop border-1" style="--clr:#ff0f5b;">
                        <div class="content">
                            <h2><i class="fa-brands fa-youtube"></i></h2>
                            <p>
                                @Follow_ussg15.5K subscribers1K videos. Follow our footsteps as we
                                globe-trot and ...</p>
                            <a href="https://www.youtube.com/@GenshinImpact">View more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="drop border-2" style="--clr:#be01fe;">
                        <div class="content">
                            <h2><i class="fa-brands fa-instagram"></i></h2>
                            <p>42K Followers, 75 Following, 1646 Posts - See Instagram photos and videos from
                                (@genshinlif3)</p>
                            <a href="https://www.instagram.com/genshinlif3/">View more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="drop border-3" style="--clr:#01b4ff;">
                        <div class="content">
                            <h2><i class="fa-brands fa-facebook"></i></h2>
                            <p>2963180 likes · 111810 talking about this. In the
                                world of Teyvat — where all kinds of elemental...</p>
                            <a href="https://www.facebook.com/GenshinImpact.vi/?brand_redir=326121328238064">View
                                more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/js/contactUs.js"></script>
    <%- include('layout/footer.ejs'); -%>