<%- include('layout/header.ejs'); -%>
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="contact-card">
                    <img src="https://cdn.donmai.us/original/d4/b5/d4b545bb8a97785acefb9bb74b09300f.jpg" alt="">
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e7df560a-6370-4c90-bf45-730a73491bbb/dfvk3e4-e0fa5d84-8481-417c-b7a6-14fc8aa9e9eb.png/v1/fill/w_663,h_1206/kafka_render__honkai__star_rail__by_criticalgalaxy_dfvk3e4-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjAwMCIsInBhdGgiOiJcL2ZcL2U3ZGY1NjBhLTYzNzAtNGM5MC1iZjQ1LTczMGE3MzQ5MWJiYlwvZGZ2azNlNC1lMGZhNWQ4NC04NDgxLTQxN2MtYjdhNi0xNGZjOGFhOWU5ZWIucG5nIiwid2lkdGgiOiI8PTExMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.TwXAF-nOJSiTurOIyNJ-y2-ZTi4gTpfv6rDNjQt362Q"
                        alt="">
                    <div class="contact-content">
                        <div class="card-name">Kafka</div>
                        <div class="card-voice">Voice JS: Sa Moon-young</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="wrapper-content">
                    <span class="topline">Hello</span>
                    <h1>I'm <span class="multiText">Coder</span></h1>
                    <p>HoYoFIG is a project to build a website for buying and selling model products based on the
                        HoYover
                        brand. We sincerely thank the entire <strong>HueCIT</strong> company team and the teachers for
                        their
                        dedicated
                        guidance and support.</p>
                    <div class="buttons">
                        <button class="btn btn-default btn-contact">Download CV</button>
                        <button class="btn btn-default btn-contact">Hire me!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('layout/footer.ejs'); -%>