<%- include('layout/header.ejs'); -%>
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000"
                data-aos-easing="ease-in-out">
                <div class="contact-card">
                    <img src="https://cdn.donmai.us/original/d4/b5/d4b545bb8a97785acefb9bb74b09300f.jpg" alt="" />
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e7df560a-6370-4c90-bf45-730a73491bbb/dfvk3e4-e0fa5d84-8481-417c-b7a6-14fc8aa9e9eb.png/v1/fill/w_663,h_1206/kafka_render__honkai__star_rail__by_criticalgalaxy_dfvk3e4-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjAwMCIsInBhdGgiOiJcL2ZcL2U3ZGY1NjBhLTYzNzAtNGM5MC1iZjQ1LTczMGE3MzQ5MWJiYlwvZGZ2azNlNC1lMGZhNWQ4NC04NDgxLTQxN2MtYjdhNi0xNGZjOGFhOWU5ZWIucG5nIiwid2lkdGgiOiI8PTExMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.TwXAF-nOJSiTurOIyNJ-y2-ZTi4gTpfv6rDNjQt362Q"
                        alt="" />
                    <div class="contact-content">
                        <div class="card-name">Kafka</div>
                        <div class="card-voice">Voice JS: Sa Moon-young</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12" data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000"
                data-aos-easing="ease-in-out">
                <div class="wrapper-content">
                    <span class="topline">Hello</span>
                    <h1>I'm <span class="multiText">Coder</span></h1>
                    <p>
                        HoYoFIG is a project to build a website for buying and selling model
                        products based on the HoYover brand. We sincerely thank the entire
                        <strong>HueCIT</strong> company team and the teachers for their
                        dedicated guidance and support.
                    </p>
                    <div class="buttons">
                        <button class="btn btn-default btn-contact">Download CV</button>
                        <button class="btn btn-default btn-contact">Hire me!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out">
            <div class="title-about">About Me.</div>
            <div class="container-about">
                <div id="slide">
                    <div class="item" style="
            background-image: url(https://64.media.tumblr.com/69ff6151b7aa3a1a03c1773f0f5be79e/8cebe90d1fbe22a9-f4/s1280x1920/edc16e5cefabd4858ca34a1656eaf30707adca5f.png);
          ">
                        <div class="content">
                            <div class="name">Yaoshi</div>
                            <div class="desc">
                                "The flowers share their petals without care, waiting for their
                                inevitable withering destiny. The birds fly high in song, moving
                                toward their inevitable crash and death. The streams flow rapidly
                                with life, in a direction where they inevitably run dry. Why must
                                all things come to an end? There must be a miracle somewhere in
                                the universe that can cure the disease known as finality."
                            </div>
                            <button class="btn btn-default">See more</button>
                        </div>
                    </div>
                    <div class="item" style="
            background-image: url(https://64.media.tumblr.com/bccc28b00f92d519427b1ded7fc0b301/69a0c16947e68f95-cb/s1280x1920/78ef192cd98f3546569530120cb8e137a11e7679.png);
          ">
                        <div class="content">
                            <div class="name">Yaoshi</div>
                            <div class="desc">
                                "The flowers share their petals without care, waiting for their
                                inevitable withering destiny. The birds fly high in song, moving
                                toward their inevitable crash and death. The streams flow rapidly
                                with life, in a direction where they inevitably run dry. Why must
                                all things come to an end? There must be a miracle somewhere in
                                the universe that can cure the disease known as finality."
                            </div>
                            <button class="btn btn-default">See more</button>
                        </div>
                    </div>
                    <div class="item" style="
            background-image: url(https://64.media.tumblr.com/07d612dfc2cd3b0e9199dd7ee27c6eaf/146ae41b7581530f-4b/s1280x1920/ebd2cff083998c5d8e646a60bc9bf8cdb58136e3.png);
          ">
                        <div class="content">
                            <div class="name">Yaoshi</div>
                            <div class="desc">
                                "The flowers share their petals without care, waiting for their
                                inevitable withering destiny. The birds fly high in song, moving
                                toward their inevitable crash and death. The streams flow rapidly
                                with life, in a direction where they inevitably run dry. Why must
                                all things come to an end? There must be a miracle somewhere in
                                the universe that can cure the disease known as finality."
                            </div>
                            <button class="btn btn-default">See more</button>
                        </div>
                    </div>
                    <div class="item" style="
            background-image: url(https://64.media.tumblr.com/f9b444b97735331707765249ae1fedfe/c1226d52fb9274e0-72/s1280x1920/95c1a4d9e16a5ccdfe71a15cea1a51916ea9c9bd.png);
          ">
                        <div class="content">
                            <div class="name">Yaoshi</div>
                            <div class="desc">
                                "The flowers share their petals without care, waiting for their
                                inevitable withering destiny. The birds fly high in song, moving
                                toward their inevitable crash and death. The streams flow rapidly
                                with life, in a direction where they inevitably run dry. Why must
                                all things come to an end? There must be a miracle somewhere in
                                the universe that can cure the disease known as finality."
                            </div>
                            <button class="btn btn-default">See more</button>
                        </div>
                    </div>
                    <div class="item" style="
            background-image: url(https://64.media.tumblr.com/d87f14cc136d13ed4b8dc5e0a8600330/4348d835c042bab5-00/s1280x1920/102f12d517c7424b653af7b27c50e055dd964254.png);
          ">
                        <div class="content">
                            <div class="name">Yaoshi</div>
                            <div class="desc">
                                "The flowers share their petals without care, waiting for their
                                inevitable withering destiny. The birds fly high in song, moving
                                toward their inevitable crash and death. The streams flow rapidly
                                with life, in a direction where they inevitably run dry. Why must
                                all things come to an end? There must be a miracle somewhere in
                                the universe that can cure the disease known as finality."
                            </div>
                            <button class="btn btn-default">See more</button>
                        </div>
                    </div>
                    <div class="item" style="
            background-image: url(bg/bg1.webp);
          ">
                        <div class="content">
                            <div class="name">Yaoshi</div>
                            <div class="desc">
                                "The flowers share their petals without care, waiting for their
                                inevitable withering destiny. The birds fly high in song, moving
                                toward their inevitable crash and death. The streams flow rapidly
                                with life, in a direction where they inevitably run dry. Why must
                                all things come to an end? There must be a miracle somewhere in
                                the universe that can cure the disease known as finality."
                            </div>
                            <button class="btn btn-default">See more</button>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
                    <button id="next"><i class="fa-solid fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/js/contactUs.js"></script>
    <%- include('layout/footer.ejs'); -%>