<%- include('layout/header.ejs'); -%>
    <div class="full-witch">
        <div class="container full-content">
            <h1>
                Title
            </h1>
            <p>
                My page
            </p>
        </div>
        <%- include('layout/footer'); -%>