<% Object.keys(messages).forEach(function (type) { %>
    <div class="toast alert alert-<%= type %> fade show">
        <% messages[type].forEach(function (message) { %>
            <div class="toast__body">
                <%= message %>
            </div>
            <button type="button" class="toast__close close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <% }) %>
    </div>
    <% }) %>