body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #22242a;
}
a:hover {
  text-decoration: none;
}

body {
  background-color: #f5f6fb;
  outline: none;
}

.col-xs-block {
  display: none;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.pt-65 {
  padding-top: 65px;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 24px;
}

.link {
  position: relative;
  margin-right: 25px;
}
.link .notification {
  position: absolute;
  top: -6px;
  right: -16px;
  padding: 0 6px;
  border-radius: 50%;
  font-size: 12px;
  background-color: #e1e7ff;
}
.link:hover .icon,
.link:hover .notification {
  color: #657ef8;
}

.icon {
  font-size: 16px;
  color: #8592a3;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 15px;
  padding: 0 24px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.btn-default {
  color: #657ef9;
  background-color: #e1e7ff;
}

table.alignmiddle td {
  vertical-align: middle;
}

.container {
  max-width: 1350px !important;
}

.container .sticky-form {
  position: sticky;
  top: 95px;
}

.font {
  font-weight: bold;
}

.header {
  background-color: #fff;
  padding: 0 20px;
  border: 1px solid #f1f4f9;
}
.header .header-logo {
  display: flex;
  margin-right: 40px;
  cursor: pointer;
}
.header .header-logo img {
  height: 45px;
}
.header .header-logo .title {
  margin-left: 10px;
  color: #657ef8;
  line-height: 45px;
  font-weight: bold;
}

.cart {
  position: relative;
}
.cart .notification {
  position: absolute;
  top: 3px;
  right: -5px;
  border-radius: 50%;
  font-size: 7px;
  padding: 3px 6px;
  color: #fff;
  background-color: #999;
}
.cart:hover i {
  color: #657ef8;
}
.cart:hover .notification {
  background-color: #e1e7ff;
  color: #657ef8;
}

.form-container {
  position: relative;
  border-radius: 16px;
  margin: 10px auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  min-height: 370px;
}
.form-container .title-header {
  margin: 0;
  padding: 12px 0;
  border-bottom: 1px solid #f5f6fb;
}
.form-container .title-header h4 {
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
}
.form-container .form-item {
  padding: 15px;
  border-bottom: 1px solid #f5f6fb;
}
.form-container .form-footer {
  text-align: center;
  padding: 15px;
  color: #999;
}

.form-container .sticky-total {
  position: sticky;
  top: 95px;
}

.not-product-title {
  font-size: large;
  font-weight: bolder;
  font-style: italic;
  color: #999;
}

.container-products {
  padding: 15px 0;
}

.products {
  margin-bottom: 24px;
}

.card-product {
  padding: 8px;
}
.card-product .card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.card-product .card .card-img {
  position: relative;
  transition: 0.3s ease;
  height: 240px;
  object-fit: cover;
}
.card-product .card .card-body {
  padding: 15px;
}
.card-product .card .card-body .card-detail {
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 8px;
}
.card-product .card .card-body .card-price {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  color: #ee4d2d;
}
.card-product .card .card-action {
  position: absolute;
  bottom: -50px;
  left: 0px;
  right: 0px;
  padding: 0 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}
.card-product .card .card-action .card-actions-inner {
  width: 100%;
  color: #657ef8;
  height: 34px;
  line-height: 32px;
  text-align: center;
  border-radius: 5px;
}
.card-product .card:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.card-product .card:hover .card-img {
  transform: scale(1.2);
}
.card-product .card:hover .card-body,
.card-product .card:hover .card-action {
  background: rgba(255, 255, 255, 0.85);
}
.card-product .card:hover .card-body {
  transform: translateY(-45px);
}
.card-product .card:hover .card-action {
  opacity: 1;
  bottom: 12px;
  visibility: visible;
  z-index: 1;
}
.card-product .card:hover .card-action .card-actions-inner {
  background-color: #e1e7ff;
  border-radius: 5px;
}
.card-product .card:hover .card-action .card-actions-inner:hover {
  background-color: #657ef8;
  color: #e1e7ff;
}

.footer-table {
  padding: 30px 0;
  width: 100%;
  text-align: center;
}
.footer-table h5 {
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  font-weight: 400;
}

.img-form {
  position: absolute;
  bottom: 0;
  left: 12px;
  width: 120px;
}

.img-modal {
  width: 120px;
}

.ql-container {
  position: relative;
}
.ql-container .ql-input {
  border-radius: 8px;
  min-height: 60px;
  width: 100%;
  padding: 0 20px;
  border: 1px solid #eee;
  transition: 0.25s ease;
}
.ql-container .ql-input:focus {
  outline: none;
  border-color: #657ef9;
}
.ql-container .ql-input:not(:placeholder-shown) + .ql-label, .ql-container .ql-input:focus + .ql-label {
  top: 0;
  padding: 0 5px;
  display: inline-block;
  background-color: #fff;
  color: #657ef9;
}
.ql-container .ql-label {
  position: absolute;
  top: 50%;
  left: 21px;
  transform: translateY(-50%);
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: 0.2s ease;
}

.none-item {
  align-items: center;
}
.none-item img {
  height: 150px;
  width: 150px;
  margin-bottom: 8px;
}
.none-item span {
  font-size: 14px;
  font-weight: 400;
}

.cart-tablet {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 5;
}
.cart-tablet .container-cart {
  padding: 10px 5px;
  border-radius: 50%;
  border: 1px solid #657ef8;
  background-color: #fff;
}
.cart-tablet .container-cart .cart .notification {
  right: 3px;
}

.session-layout {
  background-color: #fff;
  padding: 40px 0 10px;
  margin: 70px 0;
}
.session-layout .container-session {
  max-width: 1370px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.session-layout .container-session .box-service_item {
  margin-bottom: 30px;
}
.session-layout .container-session .box-service_item .box-service_innner .box-service_img {
  margin-bottom: 14px;
}
.session-layout .container-session .box-service_item .box-service_innner .box-service_content h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 12px;
}
.session-layout .container-session .box-service_item .box-service_innner .box-service_content .txt-desc {
  font-size: 16px;
}
.session-layout .container-session .box-service_item .box-service_innner .box-service_content .txt-link {
  font-size: 14px;
  font-weight: 700;
  padding-top: 20px;
  display: block;
}
.session-layout .container-session .box-service_item:not(:last-child)::before {
  content: "";
  width: 1px;
  height: 90%;
  position: absolute;
  top: 5%;
  background: #f8f8f8;
  display: block;
  right: 0;
}

.fui-footer-3 {
  padding: 40px 32px 20px;
  background-color: #fff;
  color: #22242a;
}
.fui-footer-3 .footer-category-wrap {
  display: flex;
  justify-content: space-between;
}
.fui-footer-3 .footer-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.fui-footer-3 .footer-logo img {
  height: 40px;
}
.fui-footer-3 .footer-desc {
  margin-top: 24px;
  font-size: 14px;
  line-height: 1.6;
  padding-bottom: 24px;
  border-bottom: 1px solid #f1f5f9;
}
.fui-footer-3 .copy-right {
  margin-top: 24px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
.fui-footer-3 .social-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.fui-footer-3 .social-link {
  transition: linear 0.25s;
}
.fui-footer-3 .social-link:hover {
  opacity: 0.5;
}
.fui-footer-3 .footer-heading {
  margin-bottom: 14px;
  font-weight: 700;
}
.fui-footer-3 .footer-category-item {
  margin-bottom: 32px;
}
.fui-footer-3 .footer-category-item:last-child {
  margin-bottom: 0;
}
.fui-footer-3 .footer-link-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.fui-footer-3 .footer-link {
  transition: linear 0.2s;
}
.fui-footer-3 .footer-link:hover {
  color: #657ef8;
}
.fui-footer-3 .footer-bottom {
  margin-top: 32px;
}
.fui-footer-3 .footer-bottom-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.fui-footer-3 .footer-bottom-link {
  font-size: 14px;
  transition: linear 0.2s;
}
.fui-footer-3 .footer-bottom-link:hover {
  color: #657ef8;
}

/*# sourceMappingURL=app.css.map */
