@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Sacramento&display=swap");
.input-quantity {
  display: flex;
  margin-right: 24px;
  border-radius: 45px;
  width: 110px;
  border: 1px solid #ebecf0;
}
.input-quantity input[type=number] {
  text-align: center;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #202030;
}
.input-quantity input::-webkit-outer-spin-button,
.input-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-quantity button {
  color: #3264fe;
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}
.input-quantity #increment {
  padding: 5px 15px 5px 0;
  border-radius: 0 45px 45px 0;
}
.input-quantity #decrement {
  padding: 5px 0 5px 15px;
  border-radius: 45px 0 0 45px;
}

.container-product {
  border-radius: 16px;
  margin: 15px auto;
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.container-product .title-header {
  margin: 0;
  padding: 6px 16px;
  border-bottom: 1px solid #f5f6fb;
}
.container-product .title-header h4 {
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
}
.container-product .product-detail {
  margin: 16px;
}
.container-product .product-detail .zoom {
  padding: 16px;
  position: relative;
  overflow: hidden;
}
.container-product .product-detail .zoom .product-img {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  border-radius: 8px;
}
.container-product .product-detail .zoom #imgZoom {
  position: absolute;
  left: 0;
  top: 0;
  --zoom-x: 50%;
  --zoom-y: 50%;
  transform: scale(1.3);
  pointer-events: none;
  clip-path: circle(100px at var(--zoom-x) var(--zoom-y));
  opacity: 0;
  z-index: 1;
}
.container-product .product-detail .product-desc {
  padding: 16px 24px;
}
.container-product .product-detail .product-desc .product-title {
  margin-bottom: 15px;
}
.container-product .product-detail .product-desc .product-title h1 {
  font-size: 24px;
  margin: 20px 0 5px;
}
.container-product .product-detail .product-desc .product-price {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebecf0;
}
.container-product .product-detail .product-desc .product-price .pro-price {
  font-size: 25px;
  font-weight: 600;
  color: red;
}
.container-product .product-detail .product-desc .product-sale {
  padding: 15px;
  border-bottom: 1px solid #ebecf0;
  display: flex;
  align-items: center;
}
.container-product .product-detail .product-desc .product-sale .btn-cart {
  font-size: 16px;
  height: 35px;
  color: #fff;
  border: 1px solid #ff0000;
  background-color: red;
}
.container-product .product-detail .product-desc .product-sale .btn-cart:hover {
  background-color: #fff;
  color: #ff0000;
}
.container-product .product-detail .product-desc .product-deliverly {
  padding: 15px;
}
.container-product .product-detail .product-desc .product-deliverly .infoList-deliverly li {
  text-align: justify;
  padding-left: 45px;
  padding-top: 4px;
  position: relative;
  margin-bottom: 20px;
}
.container-product .product-detail .product-desc .product-deliverly .infoList-deliverly li .lazyload {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}
.container-product .product-detail .description {
  border-top: 1px solid #ebecf0;
  padding: 0 15px;
}
.container-product .product-detail .description h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  padding: 15px 0;
  cursor: pointer;
}
.container-product .product-detail .description .detailsection-title {
  color: #369b68;
}
.container-product .product-detail .description p {
  text-align: justify;
}

.list-pageform-cart .cart-row {
  width: 100%;
  display: inline-block;
  padding-right: 20px;
}
.list-pageform-cart .cart-row .title-number-cart {
  background: #fafafa;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 16px;
}
.list-pageform-cart .cart-row .table-cart .media-line-item {
  padding: 10px 0px;
  border-bottom: 1px solid #f1f1f1;
  width: 100%;
  float: left;
  position: relative;
}
.list-pageform-cart .cart-row .table-cart .media-line-item .media-left {
  width: 90px;
  float: left;
  padding-right: 10px;
}
.list-pageform-cart .cart-row .table-cart .media-line-item .media-left .item-image {
  max-width: 100%;
  border-radius: 12px;
}
.list-pageform-cart .cart-row .table-cart .media-line-item .media-right {
  width: calc(100% - 90px);
  float: left;
  padding-left: 16px;
}
.list-pageform-cart .cart-row .table-cart .media-line-item .media-right .item-info .item-title {
  font-size: 18px;
  padding-right: 40px;
}
.list-pageform-cart .cart-row .table-cart .media-line-item .media-right .item-price {
  padding: 5px 0;
}
.list-pageform-cart .cart-row .table-cart .media-line-item .media-right .item-price span {
  display: block;
  font-weight: 600;
  color: #000;
}
.list-pageform-cart .cart-row .table-cart .media-line-item .item-total-price {
  width: 100%;
  float: left;
  font-weight: 700;
  font-size: 15px;
  margin: 5px 0;
}
.list-pageform-cart .cart-row .table-cart .media-line-item .item-total-price .price .line-item-total {
  color: red;
  font-size: 16px;
  float: right;
}
.list-pageform-cart .cart-row .table-cart .media-line-item .item-total-price .remove {
  position: absolute;
  width: 40px;
  display: inline-block;
  text-align: center;
  right: 0;
  top: 15px;
}
.list-pageform-cart .cart-row .table-cart .media-line-item .item-total-price .remove:hover .btn {
  background-color: red;
  color: #ebecf0;
}

.order-summary-block {
  border: 1px solid #dfe0e1;
  padding: 15px;
  margin-bottom: 15px;
}
.order-summary-block .summary-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}
.order-summary-block .summary-total {
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  border-top: 1px dotted #dfe0e1;
  border-bottom: 1px dotted #dfe0e1;
  margin-bottom: 10px;
}
.order-summary-block .summary-total p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.order-summary-block .summary-total p span {
  font-weight: bold;
  float: right;
  color: red;
  font-size: 24px;
}
.order-summary-block .summary-action {
  padding-top: 5px;
  text-align: center;
}
.order-summary-block .summary-action .txt-danger {
  margin-top: 8px;
  display: block;
  color: red;
}
.order-summary-block .summary-action p {
  position: relative;
  font-size: 14px;
  margin-bottom: 4px;
  padding-left: 15px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 10px;
}
.order-summary-block .summary-action p::before {
  content: "";
  width: 4px;
  height: 4px;
  background: #999999;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 8px;
  border-radius: 50%;
}
.order-summary-block .summary-action .checkout-btn {
  display: block;
  background: red;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 5px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 0;
  margin-top: 12px;
}
.order-summary-block .summary-action .disabled {
  opacity: 0.5;
  pointer-events: none;
}

.note-none {
  padding: 25px 0;
}
.note-none .img-note {
  width: 150px;
}
.note-none .note {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}

#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 99999;
}
#toast .toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 5px;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  animation: fadeIn ease 0.6s, hideIn linear 1s 3s forwards;
}
#toast .toast .toast__body {
  flex: 1;
  margin-left: 10px;
}
#toast .toast .toast__close {
  padding: 0 16px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  opacity: 1;
  outline: none;
}
#toast .toast .toast__close:hover {
  opacity: 0.7;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes hideIn {
  to {
    opacity: 0;
  }
}

.cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.cart-wrap:hover .header__cart-list {
  display: block;
}
.cart-wrap .header__cart-list {
  position: absolute;
  top: calc(100% + 2px);
  right: -3.5px;
  background-color: #fff;
  width: 280px;
  border-radius: 6px;
  padding: 18px 0;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease-in 0.3s;
  cursor: default;
  z-index: 1;
}
.cart-wrap .header__cart-list::after {
  content: "";
  position: absolute;
  right: 10px;
  top: -25px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  cursor: pointer;
}
.cart-wrap .header__cart-list .header__cart-no-cart-img,
.cart-wrap .header__cart-list .header__cart-list-no-cart-msg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cart-wrap .header__cart-list .header__cart-no-cart-img {
  padding-top: 20px;
  width: 54%;
}
.cart-wrap .header__cart-list .header__cart-list-no-cart-msg {
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  line-height: 16px;
  font-size: 14px;
}
.cart-wrap .header__cart-list .header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 14px;
  color: #999;
  font-weight: 400;
}
.cart-wrap .header__cart-list .header__cart-list-item {
  padding-left: 0;
  list-style: none;
  max-height: 30vh;
  overflow-y: auto;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item {
  display: flex;
  align-items: center;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item:hover {
  background-color: #f8f8f8;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item .header-cart-item-img {
  width: 42px;
  height: 42px;
  margin: 12px;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item .header-cart-item-img img {
  width: 100%;
  border: 1px solid #e8e8e8;
  object-fit: cover;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item .header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item .header__cart-item-info .header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item .header__cart-item-info .header__cart-item-head .header__cart-item-name {
  font-size: 12px;
  overflow: hidden;
  font-weight: 700;
  color: #000;
  margin: 0;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-clamp: 2;
  text-align: left;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item .header__cart-item-info .header__cart-item-head .header__cart-item-price {
  font-size: 12px;
  font-weight: 700;
  color: red;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item .header__cart-item-info .header__cart-item-head .header__cart-item-multiply {
  font-size: 8px;
  margin: 0 4px;
  color: #757575;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item .header__cart-item-info .header__cart-item-head .header__cart-item-qnt {
  color: #757575;
  font-size: 10px;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item .header__cart-item-info .header__cart-item-body {
  display: flex;
  justify-content: space-between;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item .header__cart-item-info .header__cart-item-body .header__cart-item-description {
  color: #757575;
  font-size: 12px;
  font-weight: 300;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item .header__cart-item-info .header__cart-item-body .header__cart-item-remove {
  font-size: 13px;
}
.cart-wrap .header__cart-list .header__cart-list-item .header__cart-item .header__cart-item-info .header__cart-item-body .header__cart-item-remove:hover {
  color: red;
  cursor: pointer;
}
.cart-wrap .header__cart-list .header__cart-view-cart {
  color: #fff;
  background-color: #ff0000;
  float: right;
  margin: 12px 12px 12px 0;
}
.cart-wrap .header__cart-list .header__cart-view-cart:hover {
  color: #ff0000;
  background-color: #fff;
  border: 1px solid #ff0000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  list-style-type: none;
}

/* ====================== Img Upload Box ====================== */
.fui-upload-img-list .image-wrap {
  display: flex;
  align-items: center;
}
.fui-upload-img-list .image-item {
  width: 100px;
  margin-right: 20px;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}
.fui-upload-img-list .image-item.upload-box {
  border: 1px dashed #cfcfcf;
  cursor: pointer;
}
.fui-upload-img-list .image-item.upload-box.isDragover, .fui-upload-img-list .image-item.upload-box:hover {
  border-color: #307dca;
}
.fui-upload-img-list .image-item.upload-box label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  background-color: #f8f8f8;
}
.fui-upload-img-list .image-item.upload-box h3 {
  font-size: 14px;
  color: #999;
}

/* ====================== End Img Upload Box ====================== */
/* ====================== Resize Img ====================== */
.wrapImgResize {
  overflow: hidden;
  position: relative;
  display: block;
}
.wrapImgResize i {
  color: #999;
}
.wrapImgResize.imgSquare {
  padding-top: 100%;
}

.customize-pagination {
  text-align: center;
}
.customize-pagination li {
  margin: 5px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.1);
}
.customize-pagination li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
}
.customize-pagination li a:hover {
  color: #fff;
}
.customize-pagination li a:focus {
  outline: none;
  box-shadow: none;
}
.customize-pagination .previous-page,
.customize-pagination .next-page {
  background: #657ef8;
  width: 80px;
  border-radius: 45px;
  transition: 0.3s ease;
}
.customize-pagination .previous-page span,
.customize-pagination .next-page span {
  font-size: 18px;
}
.customize-pagination .previous-page:hover {
  transform: translateX(-5px);
}
.customize-pagination .next-page:hover {
  transform: translateX(5px);
}
.customize-pagination .page-link {
  background-color: transparent;
  border: none;
}
.customize-pagination .current-page {
  background-color: #ccc;
  width: 40px;
  border-radius: 50%;
}
.customize-pagination .actived {
  background-color: #657ef8;
}
.customize-pagination .disable {
  background-color: #ccc;
}

.fui-testimonial-1 {
  margin-top: 30px;
  padding-top: 33px;
  position: relative;
  isolation: isolate;
}
.fui-testimonial-1 .testimonialWrap {
  margin-top: 30px;
  padding-block: 38px;
  position: relative;
}
.fui-testimonial-1 .testimonialBodyList {
  position: relative;
  width: 100%;
  margin-bottom: 200px;
  height: 200px;
  margin-top: -100px;
}
.fui-testimonial-1 .testimonialBodyItem {
  opacity: 0;
  transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 520px;
  height: 100%;
  transform: translateX(-50%) translateY(100%) rotateX(-70deg);
}
.fui-testimonial-1 .testimonialBodyItem.active {
  transform: translateX(-50%) translateY(0%) rotateX(0deg);
  opacity: 1;
}
.fui-testimonial-1 .testimonialRate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 46px;
  font-size: 20px;
  font-weight: 500;
}
.fui-testimonial-1 .testimonialRateIconList {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fui-testimonial-1 .testimonialContent {
  font-weight: 500;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.fui-testimonial-1 .testimonialBodyPersonal {
  margin-top: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.fui-testimonial-1 .testimonialBodyPersonalImg {
  width: 54px;
  height: 54px;
  border-radius: 100rem;
  border: 2px solid #1dc071;
}
.fui-testimonial-1 .testimonialBodyPersonalImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.fui-testimonial-1 .testimonialBodyPersonalName {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.fui-testimonial-1 .testimoniaPersonalItem {
  border-radius: 100rem;
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: linear 0.25s;
  animation: floating linear infinite 0.25s;
}
.fui-testimonial-1 .testimoniaPersonalItem.active .testimoniaPersonalImage {
  border-color: #1dc071;
}
.fui-testimonial-1 .testimoniaPersonalItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(1) {
  width: 74.29px;
  height: 74.29px;
  left: 128px;
  top: 62px;
  animation-duration: 10s;
  transition-delay: 0.6s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(2) {
  width: 113.75px;
  height: 113.75px;
  left: 270px;
  top: -39px;
  animation-duration: 12s;
  transition-delay: 0s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(3) {
  width: 98.66px;
  height: 98.66px;
  left: 150px;
  top: 190px;
  animation-duration: 11s;
  transition-delay: 0.6s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(4) {
  width: 94.4px;
  height: 94.4px;
  left: 315px;
  top: 135px;
  animation-duration: 6s;
  transition-delay: 0.2s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(5) {
  width: 120.03px;
  height: 120.03px;
  right: 333px;
  top: -35px;
  animation-duration: 7s;
  transition-delay: 0.7s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(6) {
  width: 99.62px;
  height: 99.62px;
  right: 150px;
  top: -70px;
  animation-duration: 5s;
  transition-delay: 0.1s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(7) {
  width: 104.11px;
  height: 104.11px;
  right: 266px;
  top: 175px;
  animation-duration: 5s;
  transition-delay: 0.7s;
}
.fui-testimonial-1 .testimoniaPersonalItem:nth-child(8) {
  width: 78.39px;
  height: 78.39px;
  right: 91px;
  top: 100px;
  animation-duration: 8s;
  transition-delay: 0.4s;
}
.fui-testimonial-1 .testimoniaPersonalImage {
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  border: 4px solid white;
  transition: linear 0.3s;
}
.fui-testimonial-1 .testimoniaPersonalImage:hover {
  border-color: #1dc071;
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(1) {
    left: 20px;
    width: 68px;
    height: 68px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(2) {
    width: 90px;
    height: 90px;
    left: 105px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(3) {
    width: 85px;
    height: 85px;
    left: 55px;
    top: 190px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(4) {
    width: 85px;
    height: 85px;
    left: 135px;
    top: 99px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(5) {
    right: 20px;
    width: 68px;
    height: 68px;
    top: 39px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(6) {
    width: 90px;
    height: 90px;
    right: 105px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(7) {
    width: 85px;
    height: 85px;
    right: 55px;
    top: 190px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(8) {
    width: 85px;
    height: 85px;
    right: 135px;
    top: 99px;
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .fui-testimonial-1 .logoParalax {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .fui-testimonial-1 {
    padding-top: 30px;
    margin-top: 60px;
  }
  .fui-testimonial-1 .testimonialBodyList {
    height: 100px;
    margin-top: -75px;
    margin-bottom: 275px;
  }
  .fui-testimonial-1 .testimoniaPersonalList {
    display: none;
  }
  .fui-testimonial-1 .testimonialBodyItem {
    width: 100%;
    padding-inline: 20px;
  }
  .fui-testimonial-1 .logoParalax {
    display: none;
  }
}
@media only screen and (max-width: 739px) {
  .fui-testimonial-1 .testimonialBodyPersonal {
    margin-top: 30px;
  }
  .fui-testimonial-1 .testimonialRate {
    margin-bottom: 30px;
  }
  .fui-testimonial-1 .testimonialBodyList {
    margin-bottom: 235px;
  }
  .fui-testimonial-1 .testimonialContent {
    font-size: 14px;
  }
  .fui-testimonial-1 .testimonialWrap {
    padding-bottom: 0;
  }
}

@keyframes floating {
  0% {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}
@property --rotate {
  initial-value: 0deg;
  inherits: false;
  syntax: "<angle>";
}
.contact-card {
  position: relative;
  background: #2a2f42;
  width: 300px;
  height: 450px;
  text-align: center;
  border-radius: 5px;
  margin: 25px auto;
}
.contact-card::before, .contact-card::after {
  position: absolute;
  width: 104%;
  height: 102%;
  content: "";
  background-image: linear-gradient(var(--rotate), #9a3bba, #fe4e56);
  border-radius: 6px;
  z-index: -1;
  left: -2%;
  top: -1%;
  opacity: 0;
}
.contact-card::after {
  filter: blur(40px);
}
.contact-card:hover::before, .contact-card:hover::after {
  opacity: 1;
  animation: spin 1.5s linear infinite;
}
.contact-card img:nth-child(1) {
  position: absolute;
  bottom: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  object-fit: cover;
  border-radius: 6px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.contact-card:hover img:nth-child(1) {
  opacity: 0;
}
.contact-card img:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.contact-card:hover img:nth-child(2) {
  opacity: 1;
}
.contact-card .contact-content {
  position: absolute;
  top: 80%;
  left: 2px;
  color: #fff;
  font-size: 20px;
  rotate: -10deg;
  text-align: left;
  text-shadow: 0 0 10px #fe4e56;
  transition: 0.5s;
  font-family: "Sacramento", cursive;
}
.contact-card:hover .contact-content {
  color: #fbff22;
  text-shadow: #9a3bba;
}
.contact-card:hover {
  background-color: transparent;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
.wrapper-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 25px 10px 20px 0;
}
.wrapper-content .topline {
  display: block;
  position: relative;
  z-index: 5;
  font-size: 35px;
  letter-spacing: 5px;
  color: #3d535f;
}
.wrapper-content .topline::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: #657ef8;
}
.wrapper-content h1 {
  display: block;
  font-size: 45px;
  font-weight: 900;
  color: #3d535f;
  position: relative;
  z-index: 5;
  padding: 5px 0;
}
.wrapper-content .multiText {
  position: relative;
  z-index: 5;
  color: #657ef8;
  text-transform: capitalize;
}
.wrapper-content p {
  display: block;
  width: 90%;
  font-size: 16px;
  color: #3d535f;
  position: relative;
  z-index: 5;
}
.wrapper-content .buttons {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 5;
}
.wrapper-content .buttons .btn-contact {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  text-transform: capitalize;
  letter-spacing: 2px;
}
.wrapper-content .buttons .btn-contact:hover {
  background-color: #657ef8;
  color: #e1e7ff;
}
.wrapper-content::before {
  position: absolute;
  content: "";
  height: 100px;
  width: 100px;
  border-radius: 50%;
  right: 5%;
  top: 0%;
  background-image: linear-gradient(var(--rotate), #e1e7ff, #9a3bba);
  animation: object1 5s linear infinite;
}
.wrapper-content::after {
  position: absolute;
  content: "";
  height: 300px;
  width: 300px;
  border-radius: 50%;
  left: 10%;
  bottom: 10%;
  background-image: linear-gradient(var(--rotate), #657ef8, #e1e7ff);
  animation: object2 5s linear infinite;
}

@keyframes object1 {
  50% {
    right: 7%;
    top: 10%;
  }
  75% {
    right: 15%;
    top: 7%;
  }
}
@keyframes object2 {
  50% {
    left: 15%;
    bottom: 0%;
  }
}
.title-about {
  position: relative;
  width: 100%;
  text-align: right;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 5px;
  color: #3d535f;
}
.title-about::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  right: 0;
  bottom: -5px;
  background-color: #3d535f;
}

.container-about {
  position: relative;
  width: 100%;
  height: 560px;
  padding: 50px;
  box-shadow: 0 30px 50px #dbdbdb;
  overflow: hidden;
}
.container-about #slide {
  width: max-content;
  margin-top: 50px;
}
.container-about #slide .item {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.8s;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  bottom: 5%;
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}
.container-about #slide .item:nth-child(1) {
  opacity: 0;
}
.container-about #slide .item:nth-child(1), .container-about #slide .item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
.container-about #slide .item:nth-child(3) {
  background-color: #fff;
  background-size: cover;
  left: 70%;
}
.container-about #slide .item:nth-child(4) {
  background-color: #fff;
  background-size: cover;
  left: calc(70% + 210px);
}
.container-about #slide .item:nth-child(5) {
  background-color: #fff;
  background-size: cover;
  left: calc(70% + 420px);
}
.container-about #slide .item:nth-child(n+6) {
  background-color: #fff;
  background-size: cover;
  left: calc(70% + 630px);
  opacity: 0;
}
.container-about #slide .item .content {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 300px;
  text-align: justify;
  padding: 0;
  color: #3d535f;
  display: none;
  padding: 5px 15px;
  border-radius: 5px;
  background: linear-gradient(180deg, white, rgba(0, 0, 0, 0));
  opacity: 0;
  animation: showContent1 1s ease-in-out 0.6s forwards;
  font-family: system-ui;
}
.container-about #slide .item:nth-child(2) .content {
  display: block;
}
.container-about #slide .item .name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showContent 1s ease-in-out 0.6s forwards;
}
.container-about #slide .item .desc {
  margin: 20px 0;
  border: none;
  opacity: 0;
  animation: showContent 1s ease-in-out 0.6s forwards;
}
.container-about #slide .item button {
  opacity: 0;
  animation: showContent 1s ease-in-out 0.6s forwards;
}
.container-about .buttons {
  position: absolute;
  z-index: 5;
  bottom: 10%;
  left: 50%;
}
.container-about .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #657ef9;
  background-color: #fff;
  transition: 0.5s;
}
.container-about .buttons button:hover {
  color: #657ef9;
  background-color: #e1e7ff;
}

@keyframes showContent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}
@keyframes showContent1 {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, -50%);
    filter: blur(0);
  }
}

/*# sourceMappingURL=styles.css.map */
