<%- include('../layout/header.ejs'); -%>
    <div class="container form-container">
        <div class="title-header">
            <h4>Edit your category</h4>
        </div>
        <a href="/admin/categories" class="btn btn-default mt-4 mb-4">
            <i class="fa-solid fa-circle-chevron-left"></i>
            Back to all categories
        </a>
        <form method="POST" action="/admin/categories/edit-category/<%= id %>?_method=PUT">
            <div class="ql-container form-group">
                <input type="text" name="title" value="<%= title %>" placeholder=" " class="ql-input" />
                <label html="title" class="ql-label" for="title">Edit category now~</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <img src="https://upload-os-bbs.hoyolab.com/upload/2023/03/31/294498666/dea047a1d4de1ff31b4e08a34b9a1869_8141380814199536365.gif"
            alt="" class="img-form" />
    </div>
    <%- include('../layout/footer'); -%>